@font-face {
    font-family: 'Linescript';
    src: url('https://github.com/Virj280/the-puchi-invasion/tree/main/Linescript%20webfont%20kit/Linescript.eot');
    src: url('https://github.com/Virj280/the-puchi-invasion/tree/main/Linescript%20webfont%20kit/Linescript.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/Virj280/the-puchi-invasion/tree/main/Linescript%20webfont%20kit/Linescript.woff2') format('woff2'),
         url('https://github.com/Virj280/the-puchi-invasion/tree/main/Linescript%20webfont%20kit/Linescript.woff') format('woff'),
         url('https://github.com/Virj280/the-puchi-invasion/tree/main/Linescript%20webfont%20kit/Linescript.ttf')  format('truetype'),
         url('https://github.com/Virj280/the-puchi-invasion/tree/main/Linescript%20webfont%20kit/Linescript.svg#Linescript') format('svg');
}
