@font-face {
    font-family: 'Linescript';
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.eot');
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.eot?#iefix') format('embedded-opentype'),
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.woff2') format('woff2'),
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.woff') format('woff'),
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.ttf')  format('truetype'),
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.otf')  format('truetype'),
    src: url('https://virj280.github.io/the-puchi-invasion/Linescript%20webfont%20kit/Linescript.svg#Linescript') format('svg');
}
