@font-face {
    font-family: 'Linescript';
    src: url('Linescript webfont kit/Linescript.eot');
    src: url('Linescript webfont kit/Linescript.eot?#iefix') format('embedded-opentype'),
         url('Linescript webfont kit/Linescript.woff2') format('woff2'),
         url('Linescript webfont kit/Linescript.woff') format('woff'),
         url('Linescript webfont kit/Linescript.ttf')  format('truetype'),
         url('Linescript webfont kit/Linescript.svg#Linescript') format('svg');
}